<footer>
<p>Classic Car &copy 2021
<br>
<span class="paddingIconoFooter" style:"background-color: black" !important>
<a href="https://facebook.com" target="_blank"><!--img src="img/footer/icon_facebook.webp" alt="icono de facebook"--><i aria-hidden="true" class="fab fa-facebook-square fa-lg" style="color:rgb(24,119,242)"></i></a>
</span>

<span class="paddingIconoFooter">
<a href="https://instagram.com" target="_blank"><i aria-hidden="true" class="fab fa-instagram fa-lg" style="color: rgb(199,199,199)"></i></a>
</span>


<span class="paddingIconoFooter">
<a href="https://twitter.com" target="_blank"><!--img src="img/footer/icon_twitter.webp" alt="icono de twitter"--><i aria-hidden="true" class="fab fa-twitter fa-lg" style="color:rgb(29,155,240)"></i></a>
</span>
</p>
</footer>