<head>

  <!--Defina el juego de caracteres utilizado:-->
  <meta charset="UTF-8">

  <!--Defina palabras clave para motores de búsqueda:-->
  <meta name="keywords" content="HTML, CSS, JavaScript">

  <!--Defina una descripción de su página web:-->
  <meta name="description" content="Autos Clasicos, Classic Car">

  <!--Defina el autor de una página:-->
  <meta name="author" content="Classic Car S.A.">

  <!--Actualizar el documento cada 30 segundos:-->
  <!--<meta http-equiv="refresh" content="30">-->

  <!--Configuración de la ventana gráfica para que su sitio web se vea bien en todos los dispositivos:-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-5.1.1.min.css') }} ">

  <title>Classic Car</title>

  <!-- CND OWN CAROUSEL

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css')}}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!--link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome-6.0.0-beta2.all.min.css')}}"-->


  <link rel="shurtcut icon" href="{{ url_for('static', filename='img/favicon_3.png')}}" type="image/png" sizes=16x16>

  </head>